<div *ngIf="products.length > 0" class="container">
  <div class="card card-outline-primary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
       <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
         <th>isAvailable</th>
      </tr>
    </thead>
    <tbody>
      <tr class="item" *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>
        <td>{{product.isAvailable}}</td>
      </tr>
    </tbody>
  </table>
 <button type="button" class="btn btn-primary">Buy</button>
    </blockquote>
  </div>
</div>
</div>
