

	<td class="col-sm-8 col-md-6">
	<div class="media">
		<a class="thumbnail pull-left"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
		<div class="media-body">
			<h4 class="media-heading"><a>{{product.name}}</a></h4>
			<h5 class="media-heading"><a>{{product.description}}</a></h5>
			<span>isAvailable: </span><span class="text-success"><strong>{{product.isAvailable}}</strong></span>
		</div>
	</div></td>
	<td class="col-sm-1 col-md-1" style="text-align: center">
	</td>
	<td class="col-sm-1 col-md-1 text-center"><strong>{{product.price}}</strong></td>
	<td class="col-sm-1 col-md-1 text-center"><strong> {{product.category}}</strong></td>
	<td class="col-sm-1 col-md-1">
	<button type="button" class="btn btn-success" (click) = addToCart($event)>
		<span class="glyphicon glyphicon-play"></span> Add To Cart
	</button></td>
